body {
    padding-bottom: 30px;
}

.nav-link.active {
    color: white !important;
    background-color: #0f1010!important;
}

.card-links a {
    color: rgba(255, 255, 255, 0.5);
}

.pagination a {
    color: black !important;
}

.carousel-indicators li{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
}

a {
    color: rgba(255, 255, 255, 0.5) !important;
}

h3 a {
    color: black !important;
}

p a {
    color: black !important;
}